//colors
$github-primary: black;
$twitter-primary: #1da1f2;
$youtube-primary: #ff0000;
$instagram-primary: rgba(248, 248, 248, 0.3);
$text-color-primary: black;
$text-color-accent: white;

//heights
$button-height: 45px;
