//colors
$github-primary: #000000;
$twitter-primary: #1da1f2;
$youtube-primary: #ff0000;
$instagram-primary: #f8f8f84d;
$text-color-primary: #000000;
$text-color-secondary: #010311;
$text-color-accent: #ffffff;
$primary-accent: #FF5A00;
$secondary-accent: #ff5a0008;
$shadow-color: rgba(255,90,0,0.03);
$github-accent: #E5E5E5;
$twitter-accent: #E8F5FD;
$youtube-accent: #FFE5E5;

//heights
$button-height: 2.8rem;
