@import "../../../styles/variables.scss";

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-height {
    height: $button-height;
}

.card-container {
    @extend .center;

    width: 100%;
    height: 100%;

    .card > button {
        @extend .button-height;
    }
    .mat-icon{
        padding-right:20px;
    }

    .card {
        padding: 40px 20px;

        .github {
            background-color: $github-primary;
            color: $text-color-accent;

            @extend .button-height;
        }

        .youtube {
            background-color: $youtube-primary;
            color: $text-color-accent;

            @extend .button-height;
        }

        .twitter {
            background-color: $twitter-primary;
            color: $text-color-accent;

            @extend .button-height;
        }

        .instagram {
            background-color: $instagram-primary;
            color: $text-color-primary;

            @extend .button-height;
        }
    }
}
