.footer {
  background-color: #f9f9f9;
  .dashboard {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #69696a;
    font-weight: bold;
    line-height: 1.375rem
    img {
      margin-right: 0.625rem;
    }
    .mat-icon {
      opacity: 0.5;
    }
  }
  .dashboard-xs {
    height: 1.625rem;
  }
}
